h2 {
  font-size: 1.4em;
}

#board {
  margin: 20px;
}

.board {
  margin-bottom: 20px;
}

.hand {
  margin-bottom: 20px;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn:focus {
  outline: none;
}

.btn-disabled {
  background-color: gray !important;
}

.card {
  width: 150px;
  height: 200px;
  border: 5px solid black;
  border-radius: 5px;
  font-family: Helvetica;
  font-size: .8em;
  padding: 5px 10px;
  float: left;
  margin-right: 10px;

}

.card-back {
  background-color: #e74c3c;
  border-color: #c0392b;
}

.card .header {
  margin: 0px auto;
}

.card .title, .cost {
  margin: 0px 2px;
}

.card .art {
  height: 78px;
  background-color: white;
  margin: 0px auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.card .description {
  background-color: white;
  height: 78px;
  padding: 5px;
}

.card .power-toughness {

}

.card.orange {
  background-color: #ffbb99;
}
.card.white {
  background-color: #F0E8D0;
}
.card.gold {
  /* background-color: #FFD700; */
  background: #f7b40c; /* Old browsers */
  background: -moz-linear-gradient(top, #f7b40c 0%, #f1da36 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7b40c 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7b40c 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#messages {
  width: 50%;
  margin: 10px auto;
  color: white;
  font-size: 1.4em;
  padding: 25px 50px;
  text-align: center;
}

#state-help {
  font-size: 1.2em;
  padding: 15px;
  color: #555;
}

.yellow {
  background-color: orange;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.health {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.mana {
  font-size: 1.4em;
  margin-bottom: 10px;
}

html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; left:0; height:100%; width:100% }
