<div ng-class="{ 'card-back': ctrl.card.anonymous, 'attacking': attacking() }" class="card {{ ctrl.card.tags.color }}" data-id="{{ ctrl.card.id }}">
  <div ng-if="!ctrl.card.anonymous" ng-click="ctrl.clickCard({ id: ctrl.card.id })">
    <div class="header">
      <div class="title pull-left">{{ ctrl.card.tags.title }}</div>
      <div class="cost pull-right">{{ ctrl.card.attributes.cost }}</div>
      <div class="cf"></div>
    </div>
    <div class="art" style="background-image: url('/assets/images/{{ ctrl.card.tags.type }}.png');"></div>
    <div class="description">{{ ctrl.card.tags.description }}</div>
    <div class="power-toughness" ng-if="ctrl.card.attributes.toughness">
      <span class="power pull-left">{{ ctrl.card.attributes.power }}</span>
      <span class="type center">{{ ctrl.card.tags.type }}</span>
      <span class="toughness pull-right">{{ ctrl.card.attributes.toughness }}</span>
    </div>
  </div>
</div>
